@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&600&700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 100px;
  background-color: #fefefe;
display: flex;
flex-direction: column;
justify-content: center;
}
.main-title{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
h2{
  padding: 20px 0px;
}
.title-content{
padding-bottom: 20px;
width: 60%;
text-align: center;
}
.subtitle{
  font-size: 15px;
}
main{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
}
.checkbox-main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid red;
  gap: 30px;
}
.checkbox-container{
  display: flex;
  justify-content: center;
}
.checkbox-content{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.checkbox-text{
  font-size: 12px;
  width: 80%;
}
.button-next{
  position: absolute;
  bottom: -50%;
  right: 20%;
}
