@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&600&700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 100px;
  background-color: #fefefe;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
span{
  display: block;
  border: 1px solid #D3D3D3;
  width: 30%;
margin: 40px 0;
}
.title-content {
  padding-bottom: 20px;
  width: 60%;
  text-align: justify;
}
.subtitle {
  font-size: 15px;
  text-align: justify;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  border: 2px solid #D3D3D3;
  width: 60%;
}
.checkbox-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  padding: 25px 30px;
}
.checkbox-container {
  display: flex;
  align-items: flex-start;

}
.checkbox-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
img{
  width: 45%;
  top: 70px;
  left: 0;
 
}
.checkbox-text {
  font-size: 12px;
  width: 80%;
}

.button-next {
  position: absolute;
  bottom: -10%;
  right: 0;
}
.bouton-inactive {
  display: none;
}
a {
  text-decoration: none;
}
.button-active {
  background: none;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #226d68;
  color: #226d68;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  pointer-events: all;
  transition: all 0.4s ease-in-out;
}
.button-active:hover {
  background: #226d68;
  color: #fff
}
.pagination{
  position: absolute;
  bottom: 0;
  right: 0;
  color: #696969;
  font-size: 14px;
}